# Database password
VITE_DATABASE_PASSWORD=""

# Admin password (required for login)
VITE_ADMIN_PASSWORD=""

# Base URL (example: https://yourdomain.tld)
VITE_DOMAIN=""

# Standalone domain (example: yourdomain.tld)
VITE_WEBSITE_DOMAIN=""

# Default error site
VITE_ERROR_DOMAIN=""
